**/.DS_Store
**/__pycache__
**/*.out
**/*.ipynb_checkpoints/
**/*DAti_TSB_Stoppari.xlsx
to_read/
**/donut_example/data
**/donut_example/Immagini_Esposito
**/inference/img_resized/*
**/model_parameters_to_fix/*
**/Donut_notebooks/kaggle_finetuning.ipynb
